:root {
  /* Colors */
  --color-primary: #0d0500;
  --color-secondary: #51504f;
  --color-red: #dc340c;
  --color-light: #fef0e5;
  --color-main-bg-light: #f0ebe7;
  --color-white: #ffffff;
  --color-border: #e0d8c9;

  /* Typography */
  --font-kr: "Noto Sans KR", sans-serif;
  --font-kr-serif: "Noto Serif KR", sans-serif;
  --font-en: "Epilogue", sans-serif;
  --font-serif: "EB Garamond", serif;
  --font-serif2: "Instrument Serif", "Noto Serif KR";
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-kr);
  color: var(--color-primary);
  line-height: 1.6;
  background-color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 400px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.section {
  padding: 110px 0;
}
.light-bg {
  background-color: var(--color-light);  
}
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 23px;
}

.fadeTarget {
  transition: transform 1s ease-out;
  transform: translate(0, -50%);
  opacity: 0;
}
.fadeTarget.fade-down {
  opacity: 1;
  transform: translate(0, 0);
}


.title-section {
  width: 100%;
  height: 200px;
  position: relative;
}

.title-section::after {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -30%);
  content: "";
  display: block;
  width: 100px;
  height: 70px;
  background-image: url("@/assets/title-deco.png");
}

.title-section h2 {
  font-family: var(--font-serif2);
  font-size: 32px;
  font-weight: 500;
  color: var(--color-red);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}
